<strong>Olá, {{organizer}}!</strong>
<p style="color: blueviolet">Houve uma nova inscrição em seu Meetup: {{title}}</p>
<p>
  <strong>Inscrito: {{subscriber}}<br /></strong>
  <strong>Email para contato: {{email}}<br /></strong>
  <strong>Data/hora: {{date}}<br /></strong>
  <strong>Local: {{local}}</strong>
  <br />
  <small>
    Favor reservar uma vaga do evento.
  </small>
</p>
